@use "src/sass/mixins";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

html {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.app {
  background: var(--primary-dark);
}

.container {
  margin: 0 auto !important;
  width: 100%;

  @include mixins.responsive(mobile) {
    width: 95%;
  }
  @include mixins.responsive(tablet) {
    max-width: 900px;
  }
  @include mixins.responsive(desktop) {
    max-width: 1200px;
  }
}
