:root {
  --primary: #7f5af0;
  --primary-dark: #171f6d;
  --secondary: #2dd4bf;
  --accent: #e45858;

  --background: #16161a;
  --background-secondary: #242629;
  --headline: #fffffe;
  --paragraph: #94a1b2;

  --radius: 0.5rem;
}
